@using Newtonsoft.Json;
@using Re.Core.Models
@using Re.UI.Data
@using System.Diagnostics;
@inject IDialogService DialogService
@inject Re.Services.Services.Diary.WeekendDiaryService WeekendService

<MudGrid>
    <MudItem>
        <MudDatePicker style="width: 150px;" Label="Дата" Date="weekend.Date" />
    </MudItem>
    <MudItem>
        <MudTimePicker style="width: 150px;" Label="Время" Time="weekend.Time" />
    </MudItem>
    <MudItem Class="d-flex flex-column justify-end">
        <MudRadioGroup @bind-SelectedOption="Dense_Radio">
            <MudRadio Option="true" Dense="true">Обход</MudRadio>
            <MudRadio Option="false" Dense="false">Запись дежурного врача</MudRadio>
        </MudRadioGroup>
    </MudItem>
</MudGrid>


<MudGrid Justify="Justify.FlexStart">
    <MudItem xs="8">
        <MudPaper Style="padding: 20px; margin: 15px 0">

            <MudGrid>
                <MudItem  Class="d-flex flex-column justify-end"><MudText>ОБХОД В СОСТАВЕ: </MudText></MudItem>
                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.Doctor" ToStringFunc="@converter" Dense="true" AnchorOrigin="Origin.BottomCenter" Disabled="!Dense_Radio">
                        @foreach (var item in doctors)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.DoctorTwo" ToStringFunc="@converter" Dense="true" AnchorOrigin="Origin.BottomCenter" Disabled="!Dense_Radio">
                        @foreach (var item in doctors)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>дежурных врачей. </MudText></MudItem>
            </MudGrid>



            <MudGrid>
                <MudItem xs="4">
                    <MudTextField Label="Пациент" T="string" Variant="Variant.Text" @bind-Value="weekend.Patient"/>
                </MudItem>

                <MudItem xs="3">
                    <MudTextField Label="возраст"  Variant="Variant.Text" @bind-Value="weekend.Age" Min="0"/>
                </MudItem>

                <MudItem Class="d-flex flex-column justify-end"><MudText>в ОАРИТ</MudText> </MudItem>

                <MudItem xs="2">
                    <MudTextField  Variant="Variant.Text" @bind-Value="weekend.Day" Min="0"/>
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>сутки.</MudText> </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>после операции</MudText> </MudItem>

                <MudItem xs="2">
                    <MudTextField Variant="Variant.Text" @bind-Value="weekend.OperationDay" Disabled="SwitchChecked3" Min="0"/>
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>сутки.</MudText> </MudItem>
                <MudItem  Class="d-flex flex-column justify-end"><MudText Disabled="!Dense_Radio">Доложены данные объективного статуса, и результаты исследований.</MudText> </MudItem>
                <MudItem xs="1" Class="d-flex flex-column justify-end">

                    <MudSwitch @bind-Checked="SwitchChecked3" />

                </MudItem>
            </MudGrid>

           <MudGrid>
                <MudItem xs="12">
                    <MudSelect @bind-Value="weekend.Сonditions" Label="Состояние" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Сonditions)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>

                <MudItem xs="5">
                    <MudSelect @bind-Value="weekend.Сomplaints" Label="Жалобы" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Сomplaints)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="5">
                    <MudTextField T="string" Label="Жалобы на" Variant="Variant.Text" @bind-Value="weekend.ComplaintsAbout" />
                </MudItem>
                </MudGrid>
            <MudGrid>
                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.Conscience" Label="Сознание" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Conscience)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>GCS - </MudText> </MudItem>
                <MudItem Class="d-flex flex-column justify-end">
                    <MudText> @totalSum</MudText>
                </MudItem>

                <MudItem xs="2">

                        <MudSelect @bind-Value="weekend.Rass" Label="RASS" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Rass)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>

                </MudItem>
                <MudItem xs="4">

                    <MudTextField T="string" Variant="Variant.Text" @bind-Value="weekend.RassThis" Disabled="!SwitchChecked4" />

                </MudItem>
                <MudItem xs="1" Class="d-flex flex-column justify-end">

                    <MudSwitch @bind-Checked="SwitchChecked4" />

                </MudItem>
            </MudGrid>

           
                 <MudGrid>
                <MudItem  Class="d-flex flex-column justify-end"><MudText>GCS - </MudText> </MudItem>
                </MudGrid>
            <MudGrid>
                <MudItem>

                    <select  @onchange="HandleSelectionChange">
                        <option value="4">Произвольное</option>
                        <option value="3">На обращение</option>
                        <option value="2">Боль</option>
                        <option value="1">Нет реакции</option>
                    </select>
                </MudItem>

                <MudItem xs="1">

                    <input type="text" @bind="selectedValue" disabled="!SwitchCheckedGCS" />

                </MudItem>

                <MudItem>

                    <select @onchange="HandleSelectionChangeTwo">
                        <option value="5">Отвечает</option>
                        <option value="4">Спутанная речь</option>
                        <option value="3">Словесная окрошка</option>
                        <option value="2">Звуки</option>
                        <option value="1">Нет реакции</option>
                    </select>
                </MudItem>

                <MudItem xs="1">

                    <input type="text" @bind="selectedValueTwo" disabled="!SwitchCheckedGCS" />

                </MudItem>

                <MudItem>

                    <select @onchange="HandleSelectionChangeThree">
                        <option value="6">Выполняет команды</option>
                        <option value="5">Локализует боль</option>
                        <option value="4">Отдергивает на боль</option>
                        <option value="3">Сгибание на боль</option>
                        <option value="2">Разгибание на боль</option>
                        <option value="1">Нет реакции</option>
                    </select>
                </MudItem>

                <MudItem xs="1">

                    <input type="text" @bind="selectedValueThree" disabled="!SwitchCheckedGCS" />

                </MudItem>
            </MudGrid>


            <MudGrid>
                <MudItem xs="12">
                    <MudTextField Label="Неврологический статус" T="string" Variant="Variant.Text" @bind-Value="weekend.Neurologist" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.Skin[0]" Label="Кожные покровы" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Skin[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="5">
                    <MudSelect @bind-Value="weekend.Skin[1]" Label="влажность" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Skin[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.Skin[2]" Label="цвет" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Skin[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <MudSelect @bind-Value="weekend.Breathing" Label="Дыхание через" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Breathing)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Экстубирован</MudText></MudItem>
                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.Extubation" T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked5">
                        @foreach (var item in Extubation)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>самостоятельное дыхание эффективно.</MudText></MudItem>
                <MudItem xs="1" Class="d-flex flex-column justify-end">
                    <MudSwitch @bind-Checked="SwitchChecked5" />
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end" Style="padding-top:40px"><MudText> Ингаляция O₂ через</MudText></MudItem>
            </MudGrid>
           
            <MudGrid>
                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.InhalationO2" T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked6">
                        @foreach (var item in InhalationO2)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem  Class="d-flex flex-column justify-end"><MudText>Скорость потока - </MudText></MudItem>

                <MudItem xs="1">
                    <MudTextField  Variant="Variant.Text" @bind-Value="weekend.SpeedFlow" Disabled="!SwitchChecked6" Min="0" />
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>л/мин.</MudText></MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>ЧДД - </MudText></MudItem>

                <MudItem xs="1">
                    <MudTextField  Variant="Variant.Text" @bind-Value="weekend.CddField" Disabled="!SwitchChecked6" Min="0" />
                </MudItem>
                <MudItem  Class="d-flex flex-column justify-end"><MudText>в 1 минуту.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <MudSelect @bind-Value="weekend.Auscultatory" T="string" Label="Аускультативно" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Auscultatory)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Ослабление дыхания </MudText></MudItem>
                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.ShortnessOfBreath[0]" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in ShortnessOfBreath[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="3">
                    <MudSelect  @bind-Value="weekend.ShortnessOfBreath[1]" T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in ShortnessOfBreath[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="4">
                    <MudTextField T="string" Label="" Variant="Variant.Text" @bind-Value="weekend.ShortnessOfBreathInput"  />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="3" Class="d-flex flex-column justify-end"><MudText>Хрипы </MudText></MudItem>
                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.Wheezes[0]" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Wheezes[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.Wheezes[1]" T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Wheezes[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="4">
                    <MudSelect @bind-Value="weekend.Wheezes[2]" T="string" Label="Характер" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Wheezes[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <MudSelect @bind-Value="weekend.RespiratorySupport" T="string" Label="Респираторная поддержка" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked4">
                        @foreach (var item in RespiratorySupport)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="6">
                    <MudSelect @bind-Value="weekend.RespiratorySupportMachine[0]" T="string" Label="аппаратом" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked4">
                        @foreach (var item in RespiratorySupportMachine[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="6">
                    <MudSelect @bind-Value="weekend.RespiratorySupportMachine[1]" T="string" Label="режим" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked4">
                        @foreach (var item in RespiratorySupportMachine[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="2">
                    <MudTextField Label="ДО - " @bind-Value="weekend.Do" Variant="Variant.Text" Min="0" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem xs="3" Class="d-flex flex-column justify-end"><MudText>мл;</MudText></MudItem>

                <MudItem xs="2">
                    <MudTextField Label="FiO₂ - " Variant="Variant.Text" @bind-Value="weekend.Fio2" Disabled="!SwitchChecked4" Min="0" />
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>%;</MudText></MudItem>

                <MudItem xs="1">
                    <MudButton OnClick="CalculateProduct">МОД</MudButton>
                </MudItem>

                <MudItem Class="d-flex flex-column justify-end" Style="padding-bottom:40px;">
                    @if (Result != null)
                    {
                        <p> - @Result мл/мин;</p>
                    }
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="2">
                    <MudTextField @bind-Value="weekend.Cd" Label="ЧД - " Variant="Variant.Text" Min="0" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem xs="3" Class="d-flex flex-column justify-end"><MudText>в мин;</MudText></MudItem>

                <MudItem xs="2">
                    <MudTextField Variant="Variant.Text" @bind-Value="weekend.Dvdox" Label="Двдох - " Disabled="!SwitchChecked4" Min="0" />
                </MudItem>
                <MudItem xs="3" Class="d-flex flex-column justify-end"><MudText>см водн.ст.;</MudText></MudItem>

                <MudItem Class="d-flex flex-column justify-end">
                    <MudSwitch @bind-Checked="SwitchChecked4" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="2">
                    <MudTextField Variant="Variant.Text" Label="ПДКВ -" @bind-Value="weekend.Pdkv" Disabled="!SwitchChecked4" Min="0" />
                </MudItem>
                <MudItem xs="3" Class="d-flex flex-column justify-end"><MudText>см водн.ст.;</MudText></MudItem>

                <MudItem xs="2">
                    <MudTextField Variant="Variant.Text" Label="Дпод - " @bind-Value="weekend.Dpod" Disabled="!SwitchChecked4" Min="0" />
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>см водн.ст.;</MudText></MudItem>
            </MudGrid>

            <MudGrid>

                <MudItem xs="12">
                    <MudSelect @bind-Value="weekend.Hemodynamics" Label="Гемодинамика" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Hemodynamics)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Инотропная поддержка:</MudText></MudItem>

                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.InotropicSupportOne[0]" T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked5">
                        @foreach (var item in InotropicSupportOne[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="2">

                    <MudTextField Label="" Variant="Variant.Text" @bind-Value="weekend.InotropicSupportOneInput" Disabled="!SwitchChecked5" Min="0" />
                </MudItem>

                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.InotropicSupportOne[1]" T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked5">
                        @foreach (var item in InotropicSupportOne[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="1" Class="d-flex flex-column justify-end">
                    <MudSwitch @bind-Checked="SwitchChecked5" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>АД - </MudText></MudItem>

                <MudItem xs="2">
                    <MudTextField  Variant="Variant.Text" @bind-Value="weekend.Ad" Min="0" />
                </MudItem>
                <MudItem xs="2" Class="d-flex flex-column justify-end"><MudText>мм рт.ст.</MudText></MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>ЧСС - </MudText></MudItem>

                <MudItem xs="2">
                    <MudTextField Variant="Variant.Text" @bind-Value="weekend.Сhss" Min="0"/>
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>в 1 минуту.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>SpO₂ - </MudText></MudItem>

                <MudItem xs="2">
                    <MudTextField Variant="Variant.Text" @bind-Value="weekend.Spo2" Min="0"/>
                </MudItem>
                <MudItem Style="width: 30%;" Class="d-flex flex-column justify-end"><MudText>%.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <MudSelect @bind-Value="weekend.Stomach" T="string" Label="Живот" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Stomach)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Болезненность</MudText> </MudItem>

                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.Pain" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Pain)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="7">
                    <MudTextField T="string" Variant="Variant.Text" @bind-Value="weekend.PainAbout" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="2" Class="d-flex flex-column justify-end"><MudText>Живот </MudText></MudItem>

                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.AbdominalBloating[0]" T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in AbdominalBloating[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Class="d-flex flex-column justify-end"><MudText>вздут.</MudText></MudItem>
                <MudItem xs="6">
                    <MudSelect @bind-Value="weekend.AbdominalBloating[1]" T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in AbdominalBloating[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="12">
                    <MudSelect @bind-Value="weekend.Peristalsis" T="string" Label="Перистальтика" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Peristalsis)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
          
            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Язык</MudText></MudItem>
                <MudItem xs="5">
                    <MudSelect @bind-Value="weekend.Tongue[0]" T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Tongue[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="5">
                    <MudSelect @bind-Value="weekend.Tongue[1]" T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Tongue[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>





            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Суточный диурез - </MudText></MudItem>

                <MudItem xs="3">
                    <MudTextField Variant="Variant.Text" @bind-Value="weekend.Diuresis" Min="0" />
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>мл.</MudText></MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Моча</MudText></MudItem>
                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.Urine" T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Urine)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Температура тела - </MudText></MudItem>

                <MudItem xs="2">
                    <MudTextField Variant="Variant.Text" @bind-Value="weekend.BodyTemperature" Min="0" />
                </MudItem>
                <MudItem Class="d-flex flex-column justify-end"><MudText>C°.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Дренаж: </MudText></MudItem>
                <MudItem xs="3">
                    <MudSelect @bind-Value="weekend.Drainage[0]" T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.Drainage[1]" T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2">
                    <MudTextField T="string" Variant="Variant.Text" @bind-Value="weekend.DrinageAbout" Disabled="!SwitchChecked7" />
                </MudItem>
                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.Drainage[2]" T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="1" Class="d-flex flex-column justify-end">
                    <MudSwitch @bind-Checked="SwitchChecked7" />
                </MudItem>
            </MudGrid>

            <MudGrid Style="padding-left:90px;">
                <MudItem xs="4">
                    <MudSelect @bind-Value="weekend.DrainageTwo[0]" T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in DrainageTwo[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.DrainageTwo[1]" T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in DrainageTwo[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="2">
                    <MudTextField T="string" Variant="Variant.Text" @bind-Value="weekend.DrinageAboutTwo" Disabled="!SwitchChecked7" />
                </MudItem>
                <MudItem xs="2">
                    <MudSelect @bind-Value="weekend.DrainageTwo[2]" T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in DrainageTwo[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>


            <MudGrid>
                <MudItem xs="11">
                    <MudTextField T="string" Label="Дополнительно:" Variant="Variant.Text" @bind-Value="weekend.Additionally" Disabled="!SwitchChecked8" />
                </MudItem>
                <MudItem xs="1" Class="d-flex flex-column justify-end">
                    <MudSwitch @bind-Checked="SwitchChecked8" />
                </MudItem>
            </MudGrid>

            <MudStack Spacing="0" Row="true">
                <MudItem Class="d-flex flex-column justify-center" xs="3">
                    <MudText>Тяжесть состояния обусловлена: </MudText>
                </MudItem>
                <MudItem Style="margin-right: 30px" xs="9">
                    <MudInput Style="width: 100%" @bind-Value="weekend.SeverityOfCondition" Lines="3">@string.Join(',', weekend.SeverityOfCondition)</MudInput>
                    </MudItem>
                    <MudButton Style="margin-right: -250px; width: 27%; padding: 0; height: 3rem;" StartIcon="@Icons.Material.Filled.FormatListNumbered"
                               OnClick="OpenConditionDialog" Color="Color.Primary" Variant="Variant.Outlined">
                        Тяжесть состояния
                    </MudButton>
                </MudStack>

                <MudGrid>
                    <MudItem Style="padding-top:30px;" Class="d-flex flex-column justify-end"><MudText>Лабораторно: </MudText></MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="2">
                        <MudTextField  Label="WBC - " Variant="Variant.Text" @bind-Value="weekend.Laboratory1" Disabled="!SwitchChecked9" Min="0" />
                    </MudItem>
                    <MudItem Class="d-flex flex-column justify-end"><MudText>x10⁹/л.</MudText></MudItem>

                    <MudItem xs="2">
                        <MudTextField Style="background-color:#E67171;" Label="HGB - "  Variant="Variant.Text" @bind-Value="weekend.Laboratory2" Disabled="!SwitchChecked9" Min="0" />
                    </MudItem>
                    <MudItem Class="d-flex flex-column justify-end"><MudText>г/л.</MudText></MudItem>

                    <MudItem xs="2">
                        <MudTextField Label="RBC - "  Variant="Variant.Text" @bind-Value="weekend.Laboratory3" Disabled="!SwitchChecked9"  Min="0"/>
                    </MudItem>
                    <MudItem Class="d-flex flex-column justify-end"><MudText>x10¹²/л.</MudText></MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="2">
                        <MudTextField  Label="HCT - " Variant="Variant.Text" @bind-Value="weekend.Laboratory4" Disabled="!SwitchChecked9" Min="0" />
                    </MudItem>
                    <MudItem Class="d-flex flex-column justify-end"><MudText>%.</MudText></MudItem>


                    <MudItem xs="2">
                        <MudTextField Label="PLT - "  Variant="Variant.Text" @bind-Value="weekend.Laboratory5" Disabled="!SwitchChecked9" Min="0" />
                    </MudItem>
                    <MudItem Class="d-flex flex-column justify-end"><MudText>x10⁹/л.</MudText></MudItem>


                    <MudItem xs="2">
                        <MudTextField Style="background-color:#E67171;" Label="Glu - "  Variant="Variant.Text" @bind-Value="weekend.Laboratory6" Disabled="!SwitchChecked9" Min="0" />
                    </MudItem>
                    <MudItem Class="d-flex flex-column justify-end"><MudText>ммоль/л.</MudText></MudItem>
                    <MudItem xs="1" Class="d-flex flex-column justify-end">
                        <MudSwitch @bind-Checked="SwitchChecked9" />
                    </MudItem>
                </MudGrid>

                <MudGrid>
                    <MudItem xs="4">
                        <MudStack Row="true">
                            <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete"
                                           OnClick="Delete" Disabled="!SwitchChecked9" Style="margin-top:50px;" />
                            <MudButton Variant="Variant.Filled" OnClick="Khs" Disabled="!SwitchChecked9" Style="margin-top:50px;">
                                <MudText Typo="Typo.subtitle1">КЩС >></MudText>
                            </MudButton>
                            <MudButton Variant="Variant.Filled" OnClick="Electrolytes" Disabled="!SwitchChecked9" Style="margin-top:50px;">
                                Электролиты >>
                            </MudButton>
                        </MudStack>
                    </MudItem>
                </MudGrid>
                <MudGrid>
                    <MudItem xs="4">
                        <MudStack>
                            <MudStack Row="true">
                                <MudSelect @ref="select1" T="string" ValueChanged="() => HandleChange(select1.Text, select1)" Disabled="!SwitchChecked9">
                                    @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.Analyses" Disabled="!SwitchChecked9" />
                            <MudText Class="d-flex flex-column justify-end">
                                @(select1.Text != null ?
                                    selectValues[select1.Text] : "")
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select2" T="string" ValueChanged="() => HandleChange(select2.Text, select2)" Disabled="!SwitchChecked9">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.AnalysesTwo" Disabled="!SwitchChecked9" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select2.Text != null ?
                                    selectValues[select2.Text] : "")
                            </MudText>
                        </MudStack>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select3" T="string" ValueChanged="() => HandleChange(select3.Text, select3)" Disabled="!SwitchChecked9">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.AnalysesThree" Disabled="!SwitchChecked9" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select3.Text != null ?
                                    selectValues[select3.Text] : "")
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select4" T="string" ValueChanged="() => HandleChange(select4.Text, select4)" Disabled="!SwitchChecked9">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.AnalysesFour" Disabled="!SwitchChecked9" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select4.Text != null ?
                                    selectValues[select4.Text] : "")
                            </MudText>
                        </MudStack>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select5" T="string" ValueChanged="() => HandleChange(select5.Text, select5)" Disabled="!SwitchChecked9">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.AnalysesFive" Disabled="!SwitchChecked9" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select5.Text != null ?
                                    selectValues[select5.Text] : "")
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudSelect Disabled="isDisabled || !SwitchChecked9" @ref="select6" T="string" ValueChanged="() => HandleChange(select6.Text, select6)" >
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField Disabled="isDisabled || !SwitchChecked9" HideSpinButtons="true" Min="0" @bind-Value="@weekend.AnalysesSix" />
                            <MudText Class="d-flex flex-column justify-end">
                                @(select6.Text != null ?
                                    selectValues[select6.Text] : "")
                            </MudText>
                        </MudStack>
                    </MudStack>
                </MudItem>
            </MudGrid>
            <MudItem xs="1" Class="d-flex flex-column justify-end">
                <MudSwitch @bind-Checked="SwitchChecked10" />
            </MudItem>
            <MudGrid>
                <MudItem Style="padding-top:40px;" Class="d-flex flex-column justify-end">
                    <MudStack Row="true">
                        <MudText>Биохимия: </MudText>
                        <MudItem xs="1">
                            <MudSwitch @bind-Checked="SwitchChecked12" />
                        </MudItem>
                    </MudStack>
                </MudItem>
            </MudGrid>
            <MudGrid>
              
                    <MudItem xs="4">
                    <MudStack Row="true">
                     <MudNumericField Label="АЛТ -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry" Disabled="!SwitchChecked12" />
                        <MudText Class="d-flex flex-column justify-end">Ед/л;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="АСТ -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry2" Disabled="!SwitchChecked12" />
                        <MudText Class="d-flex flex-column justify-end">Ед/л;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="Креатинин -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry3" Disabled="!SwitchChecked12" />
                        <MudText Class="d-flex flex-column justify-end">мкмоль/л;</MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="Мочевина -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry4" Disabled="!SwitchChecked12" />
                        <MudText Class="d-flex flex-column justify-end">ммоль/л;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="О.бил.н. -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry5" Disabled="!SwitchChecked12" />
                        <MudText Class=" d-flex flex-column justify-end">мкмоль/л;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="О.белок. -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry6" Disabled="!SwitchChecked12" />
                        <MudText Class="d-flex flex-column justify-end">г/л;</MudText>
                    </MudStack>
                </MudItem>

                <MudItem xs="4">
                    
                    <MudStack Row="true">
                        <MudNumericField Label="Альбумин -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry7" Disabled="!SwitchChecked12" />
                        <MudText Class="d-flex flex-column justify-end">г/л;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="Амилаза -" HideSpinButtons="true" @bind-Value="weekend.BioChemistry8" Disabled="!SwitchChecked12" />
                        <MudText Class=" d-flex flex-column justify-end">Ед/л;</MudText>
                    </MudStack>
                </MudItem>
    
            </MudGrid>

            <MudGrid>
                <MudItem Style="padding-top:40px;">
                    <MudStack Row="true">
                        <MudText>Гемостаз: </MudText>
                        <MudItem xs="1" Class="d-flex flex-column justify-end">
                            <MudSwitch @bind-Checked="SwitchChecked14" />
                        </MudItem>
                    </MudStack>
                </MudItem>
            </MudGrid>
                <MudGrid>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="ПВ -" HideSpinButtons="true" @bind-Value="weekend.Hemostasis" Disabled="!SwitchChecked14" />
                        <MudText Class="d-flex flex-column justify-end">сек.;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudSelect @ref="select7" T="string" ValueChanged="() => HandleChange(select7.Text, select7)" Disabled="!SwitchChecked14">
                            @foreach (var item in selectValues.Keys)
                            {
                                <MudSelectItem Value="@item" />
                            }
                        </MudSelect>
                        <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.Analyses1" Disabled="!SwitchChecked14" />
                        <MudText Class="d-flex flex-column justify-end">
                            @(select7.Text != null ?
                                selectValues[select7.Text] : "")
                        </MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="АПТВ -" HideSpinButtons="true" @bind-Value="weekend.Hemostasis2" Disabled="!SwitchChecked14" />
                        <MudText Class="d-flex flex-column justify-end">сек.;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudSelect @ref="select8" T="string" ValueChanged="() => HandleChange(select8.Text, select8)" Disabled="!SwitchChecked14">
                            @foreach (var item in selectValues.Keys)
                            {
                                <MudSelectItem Value="@item" />
                            }
                        </MudSelect>
                        <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.Analyses2" Disabled="!SwitchChecked14" />
                        <MudText Class="d-flex flex-column justify-end">
                            @(select8.Text != null ?
                                selectValues[select8.Text] : "")
                        </MudText>
                    </MudStack>
                </MudItem>

                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField HideSpinButtons="true" @bind-Value="weekend.Hemostasis3" Disabled="!SwitchChecked14" />
                        <MudText Class="d-flex flex-column justify-end">;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudSelect @ref="select9" T="string" ValueChanged="() => HandleChange(select9.Text, select9)" Disabled="!SwitchChecked14">
                            @foreach (var item in selectValues.Keys)
                            {
                                <MudSelectItem Value="@item" />
                            }
                        </MudSelect>
                        <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@weekend.Analyses3" Disabled="!SwitchChecked14" />
                        <MudText Class="d-flex flex-column justify-end">
                            @(select9.Text != null ?
                                selectValues[select9.Text] : "")
                        </MudText>
                    </MudStack>
                </MudItem>
            
            </MudGrid>

            <MudGrid >
                <MudItem Style="padding-top:40px;">
                    <MudStack Row="true">
                        <MudText>КЩС: </MudText>
                        <MudItem xs="1" Class=" d-flex flex-column justify-end">
                            <MudSwitch @bind-Checked="SwitchChecked13" />
                        </MudItem>
                    </MudStack>
                </MudItem>
            </MudGrid>
                <MudGrid>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="pH -" HideSpinButtons="true" @bind-Value="weekend.Kshs" Disabled="!SwitchChecked13" />
                        <MudText Class="d-flex flex-column justify-end">;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="HCO₃̄ –" HideSpinButtons="true" @bind-Value="weekend.Kshs2" Disabled="!SwitchChecked13" />
                        <MudText Class="d-flex flex-column justify-end">;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="K⁺ –" HideSpinButtons="true" @bind-Value="weekend.Kshs3" Disabled="!SwitchChecked13" />
                        <MudText Class="d-flex flex-column justify-end">ммоль/л;</MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="PaO₂ –" HideSpinButtons="true" @bind-Value="weekend.Kshs4" Disabled="!SwitchChecked13" />
                        <MudText Class="d-flex flex-column justify-end">мм рт.ст;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="ABE -" HideSpinButtons="true" @bind-Value="weekend.Kshs5" Disabled="!SwitchChecked13" />
                        <MudText Class=" d-flex flex-column justify-end">ммоль/л;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="Na⁺–" HideSpinButtons="true" @bind-Value="weekend.Kshs6" Disabled="!SwitchChecked13" />
                        <MudText Class="d-flex flex-column justify-end">ммоль/л;</MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="PaСO₂ –" HideSpinButtons="true" @bind-Value="weekend.Kshs7" Disabled="!SwitchChecked13" />
                        <MudText Class="d-flex flex-column justify-end">мм рт.ст;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="Cl⁻–" HideSpinButtons="true" @bind-Value="weekend.Kshs8" Disabled="!SwitchChecked13" />
                        <MudText Class=" d-flex flex-column justify-end">ммоль/л;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="Ca²⁺ –" HideSpinButtons="true" @bind-Value="weekend.Kshs9" Disabled="!SwitchChecked13" />
                        <MudText Class=" d-flex flex-column justify-end">ммоль/л;</MudText>
                    </MudStack>
                </MudItem>
          
            </MudGrid>

            <MudGrid>
                <MudItem Style="padding-top:40px;">
                    <MudStack Row="true">
                        <MudText>PICCO-тест: </MudText>
                        <MudItem xs="1" Class=" d-flex flex-column justify-end">
                            <MudSwitch @bind-Checked="SwitchChecked15" />
                        </MudItem>
                    </MudStack>
                </MudItem>
            </MudGrid>
                <MudGrid>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="Cl -" HideSpinButtons="true" @bind-Value="weekend.Picco" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">л/мин/м²;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="SVI –" HideSpinButtons="true" @bind-Value="weekend.Picco2" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">мл/м²;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="GEDI –" HideSpinButtons="true" @bind-Value="weekend.Picco3" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">мл/м²;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="GEDIs –" HideSpinButtons="true" @bind-Value="weekend.Picco3" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">мл/м;</MudText>
                    </MudStack>
                    @if (!isPicco)
                    {
                        <MudStack Row="true">
                            <MudNumericField Label="ITBI –" HideSpinButtons="true" @bind-Value="weekend.Picco4" Disabled="!SwitchChecked15" />
                            <MudText Class="d-flex flex-column justify-end">мл/м²;</MudText>
                        </MudStack>
                    }
                    @if (isPicco)
                    {
                        <MudStack Row="true">
                            <MudNumericField Label="PVPI –" HideSpinButtons="true" @bind-Value="weekend.Picco4" Disabled="!SwitchChecked15" />
                            <MudText Class="d-flex flex-column justify-end">;</MudText>
                        </MudStack>
                    }
                </MudItem>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="ELWI –" HideSpinButtons="true" @bind-Value="weekend.Picco5" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">мл/кг;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="SVV -" HideSpinButtons="true" @bind-Value="weekend.Picco6" Disabled="!SwitchChecked15" />
                        <MudText Class=" d-flex flex-column justify-end">%;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="CFI –" HideSpinButtons="true" @bind-Value="weekend.Picco7" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">1/мин;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="MAP –" HideSpinButtons="true" @bind-Value="weekend.Picco8" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">мм рт.ст;</MudText>
                    </MudStack>
                </MudItem>
                <MudItem xs="4">
                    <MudStack Row="true">
                        <MudNumericField Label="SVRI –" HideSpinButtons="true" @bind-Value="weekend.Picco9" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">дин*с*см⁻⁵ ;</MudText>
                    </MudStack>
                    <MudStack Row="true">
                        <MudNumericField Label="CVP –" HideSpinButtons="true" @bind-Value="weekend.Picco10" Disabled="!SwitchChecked15" />
                        <MudText Class="d-flex flex-column justify-end">
                            @if (isWatered)
                            {
                                @water
                            }
                            @if (!isWatered)
                            {
                                @noWater
                            }
                        </MudText>
                    </MudStack>
                    @if (isPicco)
                    {
                        <MudStack Row="true">
                            <MudNumericField Label="SvO₂ –" HideSpinButtons="true" @bind-Value="weekend.Picco11" Disabled="!SwitchChecked15" />
                            <MudText Class=" d-flex flex-column justify-end">%;</MudText>
                        </MudStack>
                    }
                </MudItem>
         
            </MudGrid>

            <MudItem xs="3">
                <MudCheckBox @bind-Checked="@isWatered" UnCheckedColor="Color.Error" Color="Color.Success">
                    <span>см. водн. ст.</span>
                </MudCheckBox>

                <MudCheckBox @bind-Checked="@isPicco" UnCheckedColor="Color.Error" Color="Color.Success">
                    <span>PICCO2</span>
                </MudCheckBox>
            </MudItem>

            <MudGrid>
                <MudItem xs="10">
                    <MudTextField Label="Рекомендовано:" T="string" Variant="Variant.Text" @bind-Value="weekend.Recommended"  Disabled="!SwitchChecked11" />
                </MudItem>
                <MudItem xs="1" Class=" d-flex flex-column justify-end">
                    <MudSwitch @bind-Checked="SwitchChecked11" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Зам.глав.врача по АиР: </MudText></MudItem>
                <MudItem xs="6">
                    <MudSelect @bind-Value="weekend.DoctorThree" ToStringFunc="@converter" Dense="true" AnchorOrigin="Origin.BottomCenter" Disabled="!Dense_Radio">
                        @foreach (var item in doctorsTwo)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem  Class="d-flex flex-column justify-end"><MudText>Заведующий отделением: </MudText></MudItem>
                <MudItem xs="6">
                    <MudSelect @bind-Value="weekend.DoctorFour" ToStringFunc="@converter" Dense="true" AnchorOrigin="Origin.BottomCenter" Disabled="!Dense_Radio">
                        @foreach (var item in doctorsTwo)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Class="d-flex flex-column justify-end"><MudText>Врач анестезиолог-реаниматолог: </MudText></MudItem>
                <MudItem xs="6" Style="width: 74%;">
                    <MudSelect @bind-Value="weekend.DoctorFive" ToStringFunc="@converter" Dense="true" AnchorOrigin="Origin.BottomCenter" Disabled="!Dense_Radio">
                        @foreach (var item in doctorsTwo)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem xs="3" Class="d-flex flex-column justify-end" Style="padding-top:20px">
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit">
                        Отправить
                    </MudButton>
                </MudItem>
            </MudGrid>
        </MudPaper>
    </MudItem>

    <MudItem xs="3">
        <MudGrid>
            <MudItem>
                <MudBadge Color="Color.Error" Origin="Origin.TopCenter" Overlap="true" Content="@robodoc">
                    <MudPaper Class="d-flex flex-column justify-center" Style="background-color: #D9D9D9; border: 1px solid #C00000; width:210px; height:90px;  "
                              Height="140px" Width="220px">
                        <MudButtonGroup Style="margin: 1rem;" Variant="Variant.Outlined" Size="Size.Large" VerticalAlign="true">
                            <MudButton Style="justify-content: space-between;text-transform: none;" OnClick="HandleWithoutNeurologist">
                                <MudImage Width="25" Src="../img/robot.png" />
                                Невролог ОК
                            </MudButton>
                        </MudButtonGroup>
                    </MudPaper>
                </MudBadge>
            </MudItem>
        </MudGrid>
    </MudItem>
</MudGrid>

<MudDialog @bind-IsVisible="visibleCondition" Options="dialogOptionsCondition">
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Class="mr-3" /> Тяжесть состояния обусловлена:
        </MudText>
    </TitleContent>
    <DialogContent>
        <MudContainer Style="width: 500px; max-height: 500px; overflow-y: scroll">
            <MudSelect AdornmentColor="Color.Success" FullWidth="true" MultiSelection="true" @bind-Value="weekend.SeverityOfCondition" @bind-SelectedValues="listCondition">
                @foreach (var item in conditionList)
                {
                    <MudSelectItem Value="@item"></MudSelectItem>
                }
            </MudSelect>
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="ConditionOk">ОК</MudButton>
        <MudButton OnClick="ClearConditionList">Очистить список</MudButton>
    </DialogActions>
</MudDialog>




@code {
    string[] Сonditions = new string[]
       {
       "удовлетворительное.",
       "средней тяжести.",
       "тяжелое.",
       "крайне тяжелое.",
       "терминальное.",
       "клинической смерти."
       };

    string[] Сomplaints = new string[]
    {
    "Жалоб нет.",
    "Жалобы не предъявляет из - за тяжести состояния.",
    "Не предъявляет жалоб из - за седации.",
    "Жалобы прежние.",
    "Предъявляет жалобы на",
    "Жалобы на боли в области операции."
    };
    string[] Conscience = new string[]
       {
    "ясное.",
    "оглушение.",
    "глубокое оглушение.",
    "сопор.",
    "кома I.",
    "кома II.",
    "кома III.",
    "медикаментозная седация."
       };
    string[] Rass = new string[]
    {
    "- 5 баллов по шкале RASS.",
    "- 4 балла по шкале RASS.",
    "- 3 балла по шкале RASS.",
    "- 2 балла по шкале RASS.",
    "- 1 балл по шкале RASS.",
    "0 баллов по шкале RASS.",
    "+ 1 балл по шкале RASS.",
    "+ 2 балла по шкале RASS.",
    "+ 3 балла по шкале RASS.",
    "+ 4 балла по шкале RASS."
    };

    string Neurologist = "Фотореакция зрачков живая, мышечный тонус достаточный, без очаговой и общемозговой симптоматики.";

    List<string[]> Skin = new List<string[]>()
    {
        new string[] {"теплые,", "холодные,"},
        new string[] {"сухие,", "влажные,", "естественной влажности,"},
        new string[] {"естественной окраски.", "бледные.", "бледно-розовые."}
    };

    string[] Breathing = new string[]
       {
    "естественные дыхательные пути.",
    "эндотрахеальную трубку.",
    "ларингеальную маску.",
    "трахеостомическую канюлю.",
    "воздуховод."
       };
    string[] Extubation = new string[]
    {
    ",",
    "а,"
    };

    string[] InhalationO2 = new string[]
    {
    "носовые канюли.",
    "HFOT аппаратом. Airvo 2",
    "лицевую маску.",
    "CPAP - клапан.",
    "'искусственнный нос'"
    };

    string[] Auscultatory = new string[]
    {
    "дыхание жесткое.",
    "дыхание везикулярное.",
    "дыхание пуэрильное."
    };

    List<string[]> ShortnessOfBreath = new List<string[]>()
    {
        new string[] {"есть,", "нет."},
        new string[] {"с двух сторон.", "справа.", "слева"}
    };

    List<string[]> Wheezes = new List<string[]>()
    {
        new string[] {"есть,", "нет."},
        new string[] {"с двух сторон.", "справа.", "слева"},
        new string[] { "нет.", "сухие", "влажные", "крепитирующие", "проводные"}
    };
    string[] RespiratorySupport = new string[]
    {
    "не проводится.",
    "начата",
    "продолжена"
    };


    List<string[]> RespiratorySupportMachine = new List<string[]>()
        {
        new string[] {"NPB 740,", "NPB 760,","NPB 840,", "Servo-S,", "PO-6,","мешком AMBU"},
        new string[] {"SPONT:", "CPAP:","VCV:", "PCV:","SIMV-VC:","SIMV-PC:", "BiLevel:","A/C:","ASV:"},
        };
    List<string[]> InotropicSupportOne = new List<string[]>()
    {
        new string[] {"адреналин - ", "норадреналин - ","добутамин - ", "дофамин - ", "мезатон - "},
        new string[] {"мкг/кг/мин", "мг/мин","мл/час", "кап/мин"},
    };

    List<string[]> InotropicSupportTwo = new List<string[]>()
    {
        new string[] {"адреналин - ", "норадреналин - ","добутамин - ", "дофамин - ", "мезатон - "},
        new string[] {"мкг/кг/мин", "мг/мин","мл/час", "кап/мин"},
    };
    string[] Hemodynamics = new string[]
       {
        "устойчивая.",
        "неустойчивая."
       };

    string[] Stomach = new string[]
    {
        "мягкий.",
        "напряженный."
    };
    string[] Pain = new string[]
    {
        "есть,",
        "нет."
    };
    List<string[]> AbdominalBloating = new List<string[]>()
    {
        new string[] {" ", "не"},
        new string[] {"резко.", "умеренно.","незначительно."}
    };
    string[] Peristalsis = new string[]
       {
        "активная.",
        "усилена.",
        "ослаблена.",
        "единичная.",
        "не выслушивается."
       };
    List<string[]> Tongue = new List<string[]>()
    {
        new string[] {"влажный,", "сухой,"},
        new string[] {"чистый.", "обложен налетом."},
    };
    string[] Urine = new string[]
      {
        "светлая.",
        "темная.",
        "мутная.",
        "с примесью крови."
      };
    List<string[]> Drainage = new List<string[]>()
    {
        new string[] {"плевральный", "брюшная полость", "груша", "вакуум", "нефростом", "пиелостома", "холецистостома", "колостома", "энтеростома", "зонд назогастральный", "зонд назоинтестинальный"},
        new string[] {"с двух сторон", "справа", "слева", "спрва снизу", "слева сверху", "слева снизу", "по центру"},
        new string[] {"следы", "серозного отделяемого", "серозно-геморрагического отделяемого", "сукровичного отделяемого", "геморрагического отделяемого", "гнойного отделяемого", "желчного отделяемого","кишечного отделяемого"}
    };
     List<string[]> DrainageTwo = new List<string[]>()
    {
        new string[] {"плевральный", "брюшная полость", "груша", "вакуум", "нефростом", "пиелостома", "холецистостома", "колостома", "энтеростома", "зонд назогастральный", "зонд назоинтестинальный"},
        new string[] {"с двух сторон", "справа", "слева", "спрва снизу", "слева сверху", "слева снизу", "по центру"},
        new string[] {"следы", "серозного отделяемого", "серозно-геморрагического отделяемого", "сукровичного отделяемого", "геморрагического отделяемого", "гнойного отделяемого", "желчного отделяемого","кишечного отделяемого"}
    };

    string[] conditionList = new string[]
       {
            "объемом оперативного вмешательства",
            "течением основного заболевания",
            "сопутствующей патологией",
            "остаточной седацией",
            "медикаментозной миоплегией",
            "церебральной недостаточностью",
            "сердечной недостаточностью",
            "дыхательной недостаточностью",
            "ХПН",
            "ОПН",
            "ОпечН",
            "ХПечН",
            "СПОН",
            "ССВО",
            "ДВС-синдромом",
            "ОРДС",
            "нарушением ВЭБ",
            "нарушением КЩС",
            "декомпенсацией ХСН",
            "левожелудочковой недостаточностью",
            "течением постреанимационной болезни",
            "анемией тяжелой степени",
            "анемией средней степени тяжести",
            "алиментарной недостаточностью",
            "синдромом эндогенной интоксикации"
       };

    string[] doctorNames = new string[]
        {
"зав.отд. Розенгарда С.А.",
"зам. главного врача по анестезиологии-реанимации Глущенко В.А.",
"Алиевой  А.Э.",
"Борзых И.С.",
"Веденина Я.О.",
"Горохова Л.В.",
"Груздова М.С.",
"Гурина М.Н.",
"Зубайдова М.М.",
"Ишкараева В.Э.",
"Караваева А.В.",
"Кононец Ф.А.",
"Кремзель Е.Г.",
"Митрохиной М.В.",
"Нюхлова Е.С.",
"Пазюк К.И.",
"Пастуховой А.А.",
"Попель И.В.",
"Раевской О. А.",
"Сапроновой Т.Н.",
"Семенова А.Н.",
"Скляровой В.О.",
"Хестановой Н.З.",
"Шабута А.М.",
"Шкуратова Р.В."
        };
    string[] doctorNamesTwo = new string[]
    {
"Розенгард С.А.",
"Глущенко В.А.",
"Алиева  А.Э.",
"Борзых И.С.",
"Веденин Я.О.",
"Горохов Л.В.",
"Груздов М.С.",
"Гурин М.Н.",
"Зубайдов М.М.",
"Ишкараев В.Э.",
"Караваев А.В.",
"Кононец Ф.А.",
"Кремзель Е.Г.",
"Митрохина М.В.",
"Нюхлов Е.С.",
"Пазюк К.И.",
"Пастухова А.А.",
"Попель И.В.",
"Раевская О. А.",
"Сапронова Т.Н.",
"Склярова В.О.",
"Хестанова Н.З.",
"Шабут А.М."
    };
     List<Doctor> doctors = new();
     List<Doctor> doctorsTwo = new();
    Func<Doctor, string> converter = d =>
    {
        if (d != null) return d.Name;
        else return " ";
    };
    void DoctorAdd()
    {
        @for (int i = 0; i < doctorNames.Length; i++)
        {
            doctors.Add(new Doctor { Name = doctorNames[i], Id = Guid.NewGuid().ToString(), Position = i.ToString() });
        }
    }
     void DoctorAddTwo()
    {
        @for (int i = 0; i < doctorNamesTwo.Length; i++)
        {
            doctorsTwo.Add(new Doctor { Name = doctorNamesTwo[i], Id = Guid.NewGuid().ToString(), Position = i.ToString() });
        }
    }

    protected override void OnInitialized()
    {

        weekend.Date = DateTime.Now;
        weekend.Time = DateTime.Now.TimeOfDay;
#pragma warning disable BL0005
        DoctorAdd();
        DoctorAddTwo();
         weekend.RassThis = "С целью потенцирования эффекта анальгетической терапии вводится в /в микроструйно Дексмедетомидин в дозировке 0.7 мкг /кг/час.";
         weekend.Recommended = "продолжить терапию в условиях ОАРИТ.";
    }
    void HandleWithoutNeurologist()
    {

        @if (weekend.Neurologist == null)
            weekend.Neurologist = Neurologist;
    }

    WeekendDiary weekend = new();

    string? robodoc = "ROBODOC";
    bool  SwitchChecked3, SwitchChecked4,
       SwitchChecked5, SwitchChecked6, SwitchChecked7, SwitchChecked8,
       SwitchChecked9, SwitchChecked10, SwitchChecked11,
        SwitchChecked12, SwitchChecked13, SwitchChecked14, SwitchChecked15;

    private int selectedValue;
    private int selectedValueTwo;
    private int selectedValueThree;
    private int totalSum = 0;

#nullable disable
    private void HandleSelectionChange(ChangeEventArgs e)
    {
        var newValue = int.Parse(e.Value?.ToString());
        selectedValue = newValue;
        CalculateTotalSum();
    }
    private void HandleSelectionChangeTwo(ChangeEventArgs e)
    {
        var newValue = int.Parse(e.Value?.ToString());
        selectedValueTwo = newValue;
        CalculateTotalSum();
    }
    private void HandleSelectionChangeThree(ChangeEventArgs e)
    {
        var newValue = int.Parse(e.Value?.ToString());
        selectedValueThree = newValue;
        CalculateTotalSum();
    }
    private void CalculateTotalSum()
    {
        totalSum = selectedValue + selectedValueTwo + selectedValueThree;
    }


    private string Result = default!;
    private void CalculateProduct()
    {
        weekend.Product = weekend.Do * weekend.Cd;
        Result = weekend.Product.ToString();
    }

    #region Dialog functionality
    IEnumerable<string> listCondition;
    private DialogOptions dialogOptionsCondition = new();
    private DialogOptions dialogOptionsPlan = new();
    private bool visibleCondition;
    private bool visiblePlan;
    private void OpenConditionDialog() => visibleCondition = true;
    private void OpenPlanDialog() => visiblePlan = true;
    void ConditionOk() => visibleCondition = false;
    void PlanOk() => visiblePlan = false;
    void ClearConditionList()
    {
        weekend.SeverityOfCondition = "";
        listCondition = null!;
        StateHasChanged();
    }
    #endregion

    private bool Checkbox = false;
    public bool Dense_Radio { get; set; } = true;

    bool isWatered;
    string water = "см.водн.ст";
    string noWater = "мм.рт.ст.";

    bool isPicco;
    string picco = "PVPI";
    string noPicco = "ITBI";

    Dictionary<string, string> selectValues = new Dictionary<string, string>()
    {
        {"pH –", " ; "},
        {"Glu –", "ммоль/л"},
        {"pCO₂ – ", "мм.рт.ст."},
        {"pO₂ –", "мм.рт.ст."},
        {"ABE –", "ммоль/л"},
        {"SBE –", "ммоль/л"},
        {"HCO₃̄ – ", "ммоль/л"},
        {"K⁺ –", "ммоль/л"},
        {"Na⁺–", "ммоль/л"},
        {"Ca²⁺ –", "ммоль/л"},
        {"Cl⁻–", "ммоль/л"},
        {"Mg²⁺ –", "ммоль/л"},
        {"mOsm –", "ммоль/кг"},
        {"МНО –", ";"},
        {"ПТИ –", ";"},
        {"АЧТВ –", "сек.;"},
        {"иАЧТВ –", ";"},
        {"ПТ –", "%;"},
        {"ТВ -", "сек.;"},
        {"Д-димер –", "нг/мл;"},
        {"п/я -", "%;"},
        {"с/я -", "%;"},
        {"PCT –", "нг/мл"},
        {"СРБ -", "мг/л"},
        {"Lac -", "ммоль/л."},
        {"ЛДГ -", "Ед/л;"},
        {"Troponin-T –", "нг/мл;"},
        {"Troponin-I –", "нг/мл;"},
        {"КФК-МB –", "нг/мл;"}
    };
    bool isDisabled = false;
    MudSelect<string> select1 = new();
    MudSelect<string> select2 = new();
    MudSelect<string> select3 = new();
    MudSelect<string> select4 = new();
    MudSelect<string> select5 = new();
    MudSelect<string> select6 = new();
    MudSelect<string> select7 = new();
    MudSelect<string> select8 = new();
    MudSelect<string> select9 = new();

    void Khs() //КЩС
    {
        string key1 = selectValues.FirstOrDefault(x => x.Key == "pO₂ –").Key;
        select1.SelectedValues = new List<string>() { key1 };
        string key2 = selectValues.FirstOrDefault(x => x.Key == "ABE –").Key;
        select2.SelectedValues = new List<string>() { key2 };
        string key3 = selectValues.FirstOrDefault(x => x.Key == "pO₂ –").Key;
        select3.SelectedValues = new List<string>() { key3 };
        string key4 = selectValues.FirstOrDefault(x => x.Key == "HCO₃̄ – ").Key;
        select4.SelectedValues = new List<string>() { key4 };
        string key5 = selectValues.FirstOrDefault(x => x.Key == "pH –").Key;
        select5.SelectedValues = new List<string>() { key5 };
        var key6 = selectValues.FirstOrDefault(x => x.Key == "Lac -").Key;
        select6.SelectedValues = new List<string>() { key6 };
        isDisabled = false;
    }
    void Electrolytes() //Электролиты
    {
        string key1 = selectValues.FirstOrDefault(x => x.Key == "K⁺ –").Key;
        select1.SelectedValues = new List<string>() { key1 };
        string key2 = selectValues.FirstOrDefault(x => x.Key == "Cl⁻–").Key;
        select2.SelectedValues = new List<string>() { key2 };
        string key3 = selectValues.FirstOrDefault(x => x.Key == "Na⁺–").Key;
        select3.SelectedValues = new List<string>() { key3 };
        string key4 = selectValues.FirstOrDefault(x => x.Key == "Lac -").Key;
        select4.SelectedValues = new List<string>() { key4 };
        string key5 = selectValues.FirstOrDefault(x => x.Key == "Ca²⁺ –").Key;
        select5.SelectedValues = new List<string>() { key5 };
        select6.SelectedValues = Enumerable.Empty<string>();
        isDisabled = true;
    }
    void Delete() //Очищение
    {
        select1.SelectedValues = Enumerable.Empty<string>();
        select2.SelectedValues = Enumerable.Empty<string>();
        select3.SelectedValues = Enumerable.Empty<string>();
        select4.SelectedValues = Enumerable.Empty<string>();
        select5.SelectedValues = Enumerable.Empty<string>();
        select6.SelectedValues = Enumerable.Empty<string>();
        select7.SelectedValues = Enumerable.Empty<string>();
        select8.SelectedValues = Enumerable.Empty<string>();
        select9.SelectedValues = Enumerable.Empty<string>();
    }

    void HandleChange(string changedSelect, MudSelect<string> select)
    {
        var change = selectValues.FirstOrDefault(x => x.Key == changedSelect).Key;
        select.SelectedValues = new List<string>() { change };
    }
    async Task Submit()
    {
        await WeekendService.SaveWeekendDiaryAsync(weekend);
    }
}


