﻿@using Re.Core.Models
@using Re.UI.Data
@using System.Diagnostics;

<MudGrid>
    <MudItem>
        <MudDatePicker style="width: 150px;" Label="Дата" @bind-Date="date" />
    </MudItem>
    <MudItem>
        <MudTimePicker style="width: 150px;" Label="Время" @bind-Time="time" />
    </MudItem>
</MudGrid>

<MudGrid>
    <MudItem xs="8">


        <MudPaper Style="padding: 10px; margin: 15px 0 0 0; width:150%">
            <MudGrid>
                <MudItem Style="width: 8%;" Class="d-flex flex-column justify-end"><MudText>Состояние</MudText> </MudItem>
                <MudItem Style="width: 90%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Сonditions)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>

                <MudItem Style="width: 8%;" Class="d-flex flex-column justify-end"><MudText>Жалобы</MudText> </MudItem>


                <MudItem Style="width: 33%;padding-left:10px;">

                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Сomplaints)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>

                </MudItem>
                <MudItem Style="width: 35%; padding: 11px 0 0 6px;">

                    <MudTextField T="string" Label="Жалобы на" Variant="Variant.Text" Text="@standart.ComplaintsAbout" />

                </MudItem>

                <MudItem Style="width: 8%; padding: 45px 0 0 30px;">

                    <MudItem><MudText>ВАШ - </MudText></MudItem>
                </MudItem>

                <MudItem Style="width: 10%; padding:  11px 0 0 0">
                    <MudSelect T="string" Disabled="!SwitchChecked">
                        @foreach (var item in Vash)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style=" padding: 38px 0 0 5px;">
                    <MudSwitch @bind-Checked="SwitchChecked" />
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 8%;" Class="d-flex flex-column justify-end"><MudText>Сознание </MudText> </MudItem>
                <MudItem Style="width: 90%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Conscience)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 8%;" Class="d-flex flex-column justify-end"><MudText>RASS</MudText></MudItem>

                <MudItem Style="width: 20%;">

                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Rass)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>

                </MudItem>
                <MudItem Style="width: 65%; padding: 11px 0 0 6px;">

                    <MudTextField T="string" Variant="Variant.Text" Text="@RassThis" Disabled="!SwitchChecked2" />

                </MudItem>
                <MudItem Style=" padding: 38px 0 0 15px;">

                    <MudSwitch @bind-Checked="SwitchChecked2" />

                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Кожные покровы </MudText> </MudItem>
                <MudItem Style="width: 83%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Skin[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>(влажность) </MudText> </MudItem>
                <MudItem Style="width: 83%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Skin[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>(цвет) </MudText> </MudItem>
                <MudItem Style="width: 83%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Skin[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Дыхание через</MudText> </MudItem>
                <MudItem Style="width: 83%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Breathing)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Экстубирован</MudText></MudItem>
                <MudItem Style="width: 40%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked3">
                        @foreach (var item in Extubation)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style="width: 30%;" Class="d-flex flex-column justify-end"><MudText>самостоятельное дыхание эффективно.</MudText></MudItem>
                <MudItem Style=" padding: 35px 0 0 0;">
                    <MudSwitch @bind-Checked="SwitchChecked3" />
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>ЧДД - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.CddField" Disabled="SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 30%;padding: 11px 15px;" Class="d-flex flex-column justify-end"><MudText>в 1 минуту.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Ингаляция O₂ через </MudText></MudItem>

                <MudItem Style="width: 25%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="SwitchChecked4">
                        @foreach (var item in InhalationO2)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 16%;padding: 11px 22px;" Class="d-flex flex-column justify-end"><MudText>Скорость потока - </MudText></MudItem>

                <MudItem Style="width: 8%; padding: 11px 11px;">
                    <MudTextField T="string" Label="" Variant="Variant.Text" Text="@standart.SpeedFlow" Disabled="SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 10%;padding: 11px 11px;" Class="d-flex flex-column justify-end"><MudText>л/мин.</MudText></MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Аускультативно </MudText></MudItem>
                <MudItem Style="width: 25%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Auscultatory)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 20%;" Class="d-flex flex-column justify-end"><MudText>Ослабление дыхания </MudText></MudItem>
                <MudItem Style="width: 30%;;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in ShortnessOfBreath[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 20%; padding: 11px 6px;">
                    <MudSelect T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in ShortnessOfBreath[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style="width: 28%; padding: 11px 11px;">
                    <MudTextField T="string" Label="" Variant="Variant.Text" Text="@standart.ShortnessOfBreathInput" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 20%;" Class="d-flex flex-column justify-end"><MudText>Хрипы </MudText></MudItem>
                <MudItem Style="width: 30%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Wheezes[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 20%; padding: 11px 6px;">
                    <MudSelect T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Wheezes[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style="width: 28%; padding: 11px 11px;">
                    <MudSelect T="string" Label="Характер" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Wheezes[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 20%;" Class="d-flex flex-column justify-end"><MudText>Респираторная поддержка </MudText></MudItem>
                <MudItem Style="width: 78%;">

                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked4">
                        @foreach (var item in RespiratorySupport)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>аппаратом </MudText></MudItem>

                <MudItem Style="width: 25%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked4">
                        @foreach (var item in RespiratorySupportMachine[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 10%;padding: 11px 30px;" Class="d-flex flex-column justify-end"><MudText> режим </MudText></MudItem>

                <MudItem Style="width: 15%; ;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked4">
                        @foreach (var item in RespiratorySupportMachine[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

            </MudGrid>



            <MudGrid Style="padding-left:300px;">
                <MudItem Style="width: 7%;" Class="d-flex flex-column justify-end"><MudText>ДО - </MudText></MudItem>
                <MudItem Style="width: 7%;">
                    <MudTextField @bind-Value="@Num1" T="int" Variant="Variant.Text" Text="@standart.Do" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 10%;" Class="d-flex flex-column justify-end"><MudText>мл;</MudText></MudItem>

                <MudItem Style="width: 29%;padding-left:200px;" Class="d-flex flex-column justify-end"><MudText>FiO₂ - </MudText></MudItem>
                <MudItem Style="width: 7%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Fio2" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 5%;" Class="d-flex flex-column justify-end"><MudText>%;</MudText></MudItem>

                <MudItem Style="width: 15%; padding-left:90px; padding-top:40px;">
                    <MudButton OnClick="CalculateProduct">МОД</MudButton>
                </MudItem>
                <MudItem Style="width: 20%;padding-top:45px;">
                    @if (Result != null)
                    {
                        <p> - @Result мл/мин;</p>
                    }
                </MudItem>
            </MudGrid>

            <MudGrid Style="padding-left:300px;">
                <MudItem Style="width: 7%;" Class="d-flex flex-column justify-end"><MudText>ЧД - </MudText></MudItem>
                <MudItem Style="width: 7%;">
                    <MudTextField @bind-Value="@Num2" T="int" Variant="Variant.Text" Text="@standart.Cd" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 10%;" Class="d-flex flex-column justify-end"><MudText>в мин;</MudText></MudItem>

                <MudItem Style="width: 29%;padding-left:180px;" Class="d-flex flex-column justify-end"><MudText>Двдох - </MudText></MudItem>
                <MudItem Style="width: 7%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Dvdox" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>см водн.ст.;</MudText></MudItem>

                <MudItem Style=" padding: 35px 0 0 150px;">
                    <MudSwitch @bind-Checked="SwitchChecked4" />
                </MudItem>
            </MudGrid>

            <MudGrid Style="padding-left:280px;">
                <MudItem Style="width: 9%;" Class="d-flex flex-column justify-end"><MudText>ПДКВ -</MudText></MudItem>
                <MudItem Style="width: 7%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Pdkv" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 14%;" Class="d-flex flex-column justify-end"><MudText>см водн.ст.;</MudText></MudItem>

                <MudItem Style="width: 24%;padding-left:150px;" Class="d-flex flex-column justify-end"><MudText>Дпод - </MudText></MudItem>
                <MudItem Style="width: 7%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Dpod" Disabled="!SwitchChecked4" />
                </MudItem>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>см водн.ст.;</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 15%; padding-right: 6px;" Class="d-flex flex-column justify-end"><MudText>Гемодинамика</MudText></MudItem>

                <MudItem Style="width: 83%; padding: 11px 1px;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Hemodynamics)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 20%; padding-right: 6px;" Class="d-flex flex-column justify-end"><MudText>Инотропная поддержка:</MudText></MudItem>

                <MudItem Style="width: 25%; padding: 11px 1px;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked5">
                        @foreach (var item in InotropicSupportOne[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 10%; padding: 11px 6px;">

                    <MudTextField T="string" Label="" Variant="Variant.Text" Text="@standart.InotropicSupportOneInput" Disabled="!SwitchChecked5" />
                </MudItem>

                <MudItem Style="width: 10%; padding: 11px 1px;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked5">
                        @foreach (var item in InotropicSupportOne[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style=" padding: 35px 0 0 50px;">
                    <MudSwitch @bind-Checked="SwitchChecked5" />
                </MudItem>
            </MudGrid>

            <MudGrid Style="padding-left:230px;">
                <MudItem Style="width: 32%; padding: 11px 1px;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked5">
                        @foreach (var item in InotropicSupportOne[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 13%; padding: 11px 6px;">

                    <MudTextField T="string" Label="" Variant="Variant.Text" Text="@standart.InotropicSupportOneInput" Disabled="!SwitchChecked5" />
                </MudItem>

                <MudItem Style="width: 12%; padding: 11px 1px;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked5">
                        @foreach (var item in InotropicSupportOne[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>АД - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Ad" />
                </MudItem>
                <MudItem Style="width: 23%;" Class="d-flex flex-column justify-end"><MudText>мм рт.ст.</MudText></MudItem>
                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>ЧСС - </MudText></MudItem>

                <MudItem Style="width: 12%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Сhss" />
                </MudItem>
                <MudItem Style="width: 30%;" Class="d-flex flex-column justify-end"><MudText>в 1 минуту.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>SpO₂ - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Spo2" />
                </MudItem>
                <MudItem Style="width: 30%;" Class="d-flex flex-column justify-end"><MudText>%.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>Живот </MudText></MudItem>

                <MudItem Style="width: 93%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Stomach)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>

                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Болезненность</MudText> </MudItem>


                <MudItem Style="width: 10%;padding-left:10px;">

                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Pain)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>

                </MudItem>
                <MudItem Style="width: 73%; padding: 11px 0 0 6px;">

                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.PainAbout" />

                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Живот </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in AbdominalBloating[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style="width: 10%;" Class="d-flex flex-column justify-end"><MudText>вздут.</MudText></MudItem>
                <MudItem Style="width: 64%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in AbdominalBloating[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Перистальтика </MudText></MudItem>

                <MudItem Style="width: 84%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Peristalsis)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Язык</MudText></MudItem>
                <MudItem Style="width: 42%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Tongue[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style="width: 42%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Tongue[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 8%;" Class="d-flex flex-column justify-end"><MudText>Диурез - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Diuresis" />
                </MudItem>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>мл.</MudText></MudItem>
                <MudItem Style="width: 12%;" Class="d-flex flex-column justify-end"><MudText>Перелито в/в - </MudText></MudItem>

                <MudItem Style="width: 12%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Intravenously" Disabled="!SwitchChecked6" />
                </MudItem>
                <MudItem Style="width: 5%;" Class="d-flex flex-column justify-end"><MudText>мл.</MudText></MudItem>
                <MudItem Style=" padding: 35px 0 0 50px;">
                    <MudSwitch @bind-Checked="SwitchChecked6" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Моча</MudText></MudItem>
                <MudItem Style="width: 84%;">
                    <MudSelect T="string" Label="" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Urine)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Температура тела - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.BodyTemperature" />
                </MudItem>
                <MudItem Style="width: 23%;" Class="d-flex flex-column justify-end"><MudText>C°.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Дренаж: </MudText></MudItem>
                <MudItem Style="width: 15%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 20%; padding: 11px 6px;">
                    <MudSelect T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style="width: 20%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.DrinageAbout" Disabled="!SwitchChecked7" />
                </MudItem>
                <MudItem Style="width: 20%; padding: 11px 6px;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style=" padding: 35px 0 0 50px;">
                    <MudSwitch @bind-Checked="SwitchChecked7" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 30%;padding-left:190px;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[0])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>

                <MudItem Style="width: 20%; padding: 11px 6px;">
                    <MudSelect T="string" Label="Стороны" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[1])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
                <MudItem Style="width: 20%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.DrinageAbout" Disabled="!SwitchChecked7" />
                </MudItem>
                <MudItem Style="width: 20%; padding: 11px 6px;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Disabled="!SwitchChecked7">
                        @foreach (var item in Drainage[2])
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>


            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Дополнительно: </MudText></MudItem>
                <MudItem Style="width: 75%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Additionally" Disabled="!SwitchChecked8" />
                </MudItem>
                <MudItem Style=" padding: 35px 0 0 45px;">
                    <MudSwitch @bind-Checked="SwitchChecked8" />
                </MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem Style="width: 10%;" Class="d-flex flex-column justify-end"><MudText>Лабораторно: </MudText></MudItem>
                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>WBC - </MudText></MudItem>

                <MudItem Style="width: 8%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Laboratory1" Disabled="!SwitchChecked9" />
                </MudItem>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>x10⁹/л.</MudText></MudItem>

                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>HGB - </MudText></MudItem>

                <MudItem Style="width: 8%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Laboratory2" Disabled="!SwitchChecked9" />
                </MudItem>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>г/л.</MudText></MudItem>

                <MudItem Style="width: 6%;" Class="d-flex flex-column justify-end"><MudText>RBC - </MudText></MudItem>

                <MudItem Style="width: 8%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Laboratory3" Disabled="!SwitchChecked9" />
                </MudItem>
                <MudItem Style="width: 10%;" Class="d-flex flex-column justify-end"><MudText>x10¹²/л.</MudText></MudItem>
                <MudItem Style=" padding: 35px 0 0 25px;">
                    <MudSwitch @bind-Checked="SwitchChecked9" />
                </MudItem>
            </MudGrid>

            <MudGrid Style="padding-left:100px;">
                <MudItem Style="width: 8%;padding-left:25px;" Class="d-flex flex-column justify-end"><MudText>HCT - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Laboratory4" Disabled="!SwitchChecked9" />
                </MudItem>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>%.</MudText></MudItem>

                <MudItem Style="width: 7%;padding-left:25px;" Class="d-flex flex-column justify-end"><MudText>PLT - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Laboratory5" Disabled="!SwitchChecked9" />
                </MudItem>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>x10⁹/л.</MudText></MudItem>

                <MudItem Style="width: 6%; " Class="d-flex flex-column justify-end"><MudText>Glu - </MudText></MudItem>

                <MudItem Style="width: 10%;">
                    <MudTextField T="string" Variant="Variant.Text" Text="@standart.Laboratory6" Disabled="!SwitchChecked9" />
                </MudItem>
                <MudItem Style="width: 10%;" Class="d-flex flex-column justify-end"><MudText>ммоль/л.</MudText></MudItem>
            </MudGrid>

            <MudGrid>
                <MudItem xs="3">
                    <MudStack Row="true">
                        <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Delete"
                                       OnClick="Delete" Disabled="!SwitchChecked10" Style="margin-top:50px;" />
                        <MudButton Variant="Variant.Filled" OnClick="Khs" Disabled="!SwitchChecked10" Style="margin-top:50px;">
                            <MudText Typo="Typo.subtitle1">КЩС >></MudText>
                        </MudButton>
                        <MudButton Variant="Variant.Filled" OnClick="Electrolytes" Disabled="!SwitchChecked10" Style="margin-top:50px;">
                            Электролиты >>
                        </MudButton>
                    </MudStack>
                </MudItem>
                <MudItem xs="3">
                    <MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select1" T="string" ValueChanged="() => HandleChange(select1.Text, select1)" Disabled="!SwitchChecked10">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@standart.Analyses" Disabled="!SwitchChecked10" />
                            <MudText Class="d-flex flex-column justify-end">
                                @(select1.Text != null ?
                                    selectValues[select1.Text] : "")
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select2" T="string" ValueChanged="() => HandleChange(select2.Text, select2)" Disabled="!SwitchChecked10">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@standart.AnalysesTwo" Disabled="!SwitchChecked10" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select2.Text != null ?
                                    selectValues[select2.Text] : "")
                            </MudText>
                        </MudStack>
                    </MudStack>
                </MudItem>
                <MudItem xs="3">
                    <MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select3" T="string" ValueChanged="() => HandleChange(select3.Text, select3)" Disabled="!SwitchChecked10">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@standart.AnalysesThree" Disabled="!SwitchChecked10" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select3.Text != null ?
                                    selectValues[select3.Text] : "")
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select4" T="string" ValueChanged="() => HandleChange(select4.Text, select4)" Disabled="!SwitchChecked10">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@standart.AnalysesFour" Disabled="!SwitchChecked10" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select4.Text != null ?
                                    selectValues[select4.Text] : "")
                            </MudText>
                        </MudStack>
                    </MudStack>
                </MudItem>
                <MudItem xs="3">
                    <MudStack>
                        <MudStack Row="true">
                            <MudSelect @ref="select5" T="string" ValueChanged="() => HandleChange(select5.Text, select5)" Disabled="!SwitchChecked10">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField HideSpinButtons="true" Min="0" @bind-Value="@standart.AnalysesFive" Disabled="!SwitchChecked10" />

                            <MudText Class="d-flex flex-column justify-end">
                                @(select5.Text != null ?
                                    selectValues[select5.Text] : "")
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudSelect Disabled="isDisabled || !SwitchChecked10" @ref="select6" T="string" ValueChanged="() => HandleChange(select6.Text, select6)">
                                @foreach (var item in selectValues.Keys)
                                {
                                    <MudSelectItem Value="@item" />
                                }
                            </MudSelect>
                            <MudNumericField Disabled="isDisabled || !SwitchChecked10" HideSpinButtons="true" Min="0" @bind-Value="@standart.AnalysesSix" />
                            <MudText Class="d-flex flex-column justify-end">
                                @(select6.Text != null ?
                                    selectValues[select6.Text] : "")
                            </MudText>
                        </MudStack>
                    </MudStack>
                </MudItem>
            </MudGrid>
            <MudItem Style=" padding: 35px 0 0 1090px;">
                <MudSwitch @bind-Checked="SwitchChecked10" />
            </MudItem>



            <MudStack Row="true" Style="margin-top: 10px;">
                <MudItem xs="3">
                    <MudText Align="Align.Center">Показатели гемодинамики</MudText>
                    <MudRadioGroup @bind-SelectedOption="Hemodynamic">
                        <MudRadio Option="@("PiCCO+")" Dense="false" Color="Color.Primary">PiCCO+</MudRadio>
                        <MudRadio Option="@("FioTrac")" Dense="false" Color="Color.Primary">FloTrac</MudRadio>
                        <MudRadio Option="@("PiCCO2")" Dense="false" Color="Color.Primary">PiCCO2</MudRadio>
                        <MudRadio Option="@("esCCO")" Dense="false" Color="Color.Primary">esCCO</MudRadio>
                        <MudRadio Option="@("VoLEF")" Dense="false" Color="Color.Primary">VoLEF</MudRadio>
                    </MudRadioGroup>
                    <MudCheckBox @bind-Checked="@isWatered" UnCheckedColor="Color.Error" Color="Color.Success">
                        <span>см. водн. ст.</span>
                    </MudCheckBox>
                </MudItem>
                @if (Hemodynamic == "PiCCO+")
                {
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="CI" HideSpinButtons="true" @bind-Value="standart.Picco.CI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">I/min/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="ITBI" HideSpinButtons="true" @bind-Value="standart.Picco.ITBI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="CFI" HideSpinButtons="true" @bind-Value="standart.Picco.CFI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">I/min</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="SVV" HideSpinButtons="true" @bind-Value="standart.Picco.SVV" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">%</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="SVI" HideSpinButtons="true" @bind-Value="standart.Picco.SVI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="ELWI" HideSpinButtons="true" @bind-Value="standart.Picco.ELWI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/kg</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="MAP" HideSpinButtons="true" @bind-Value="standart.Picco.MAP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">mm Hg</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="GEDI" HideSpinButtons="true" @bind-Value="standart.Picco.GEDI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="CVP" HideSpinButtons="true" @bind-Value="standart.Picco.CVP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">
                                @if (isWatered)
                                {
                                    @water
                                }
                                @if (!isWatered)
                                {
                                    @noWater
                                }
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="SVRI" HideSpinButtons="true" @bind-Value="standart.Picco.SVRI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">dyn*s*m*/cm⁻⁵</MudText>
                        </MudStack>
                        <MudInput Style="width: 100%; padding-top: 10px" @bind-Value="standart.Picco.Description" Disabled="!SwitchChecked11"></MudInput>
                    </MudItem>
                }
                @if (Hemodynamic == "FioTrac")
                {
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="CCO" HideSpinButtons="true" @bind-Value="standart.FioTrac.CCO" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">I/min</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="SVR" HideSpinButtons="true" @bind-Value="standart.FioTrac.SVR" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">mm Hg</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="SVV" HideSpinButtons="true" @bind-Value="standart.FioTrac.SVV" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="SV" HideSpinButtons="true" @bind-Value="standart.FioTrac.SV" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="CVP" HideSpinButtons="true" @bind-Value="standart.FioTrac.CVP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">
                                @if (isWatered)
                                {
                                    @water
                                }
                                @if (!isWatered)
                                {
                                    @noWater
                                }
                            </MudText>
                        </MudStack>
                        <MudInput Style="width: 100%; padding-top: 10px" @bind-Value="standart.FioTrac.Description" Disabled="!SwitchChecked11"></MudInput>
                    </MudItem>
                }
                @if (Hemodynamic == "PiCCO2")
                {
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="CI" HideSpinButtons="true" @bind-Value="standart.Picco2.CI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">I/min/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="PVPI" HideSpinButtons="true" @bind-Value="standart.Picco2.PVPI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end"></MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="CFI" HideSpinButtons="true" @bind-Value="standart.Picco2.CFI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">I/min</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="SVV" HideSpinButtons="true" @bind-Value="standart.Picco2.SVV" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">%</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="SVI" HideSpinButtons="true" @bind-Value="standart.Picco2.SVI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="ELWI" HideSpinButtons="true" @bind-Value="standart.Picco2.ELWI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/kg</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="MAP" HideSpinButtons="true" @bind-Value="standart.Picco2.MAP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">mm Hg</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="ScvO₂" HideSpinButtons="true" @bind-Value="standart.Picco2.ScvO2" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">%</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="GEDI" HideSpinButtons="true" @bind-Value="standart.Picco2.GEDI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="CVP" HideSpinButtons="true" @bind-Value="standart.Picco2.CVP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">
                                @if (isWatered)
                                {
                                    @water
                                }
                                @if (!isWatered)
                                {
                                    @noWater
                                }
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="SVRI" HideSpinButtons="true" @bind-Value="standart.Picco2.SVRI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">dyn*s*m*/cm⁻⁵</MudText>
                        </MudStack>
                        <MudInput Style="width: 100%; padding-top: 10px" @bind-Value="standart.Picco2.Description" Disabled="!SwitchChecked11"></MudInput>
                    </MudItem>
                }
                @if (Hemodynamic == "esCCO")
                {
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="esНСВ" HideSpinButtons="true" @bind-Value="standart.EsCCO.EsHCB" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">I/min</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="esУО" HideSpinButtons="true" @bind-Value="standart.EsCCO.EsYO" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="esНСИ" HideSpinButtons="true" @bind-Value="standart.EsCCO.EsHCI" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">I/min/m²</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="esИУО" HideSpinButtons="true" @bind-Value="standart.EsCCO.EsIYO" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml/m²</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="esССС" HideSpinButtons="true" @bind-Value="standart.EsCCO.EsCCC" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">dyn*s*/cm⁵</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="esИССС" HideSpinButtons="true" @bind-Value="standart.EsCCO.EsICCC" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">dyn*s*m*/cm⁻⁵</MudText>
                        </MudStack>
                        <MudInput Style="width: 100%; padding-top: 10px" @bind-Value="standart.EsCCO.Description" Disabled="!SwitchChecked11"></MudInput>
                    </MudItem>
                }
                @if (Hemodynamic == "VoLEF")
                {
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="RHEDV" HideSpinButtons="true" @bind-Value="standart.VoLEF.RHEDV" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="PCWP" HideSpinButtons="true" @bind-Value="standart.VoLEF.PCWP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">mm Hg</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="R/L" HideSpinButtons="true" @bind-Value="standart.VoLEF.RL" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end"></MudText>
                        </MudStack>

                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="RVEDV" HideSpinButtons="true" @bind-Value="standart.VoLEF.RVEDV" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="LHEDV" HideSpinButtons="true" @bind-Value="standart.VoLEF.LHEDV" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">ml</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="PVR" HideSpinButtons="true" @bind-Value="standart.VoLEF.PVR" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">dyn*s*m*/cm⁵</MudText>
                        </MudStack>
                    </MudItem>
                    <MudItem xs="3">
                        <MudStack Row="true">
                            <MudNumericField Label="PAP" HideSpinButtons="true" @bind-Value="standart.VoLEF.PAP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">mm Hg</MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="CVP" HideSpinButtons="true" @bind-Value="standart.VoLEF.CVP" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">
                                @if (isWatered)
                                {
                                    @water
                                }
                                @if (!isWatered)
                                {
                                    @noWater
                                }
                            </MudText>
                        </MudStack>
                        <MudStack Row="true">
                            <MudNumericField Label="RVEF" HideSpinButtons="true" @bind-Value="standart.VoLEF.RVEF" Min="0" Disabled="!SwitchChecked11" />
                            <MudText Class="d-flex flex-column justify-end">%</MudText>
                        </MudStack>
                        <MudInput Style="width: 100%; padding-top: 10px" @bind-Value="standart.VoLEF.Description" Disabled="!SwitchChecked11"></MudInput>
                    </MudItem>
                }
                <MudItem Style=" padding: 35px 0 0 53px;">
                    <MudSwitch @bind-Checked="SwitchChecked11" />
                </MudItem>
            </MudStack>

            <MudGrid>
                <MudItem Style="width: 15%;" Class="d-flex flex-column justify-end"><MudText>Врач: </MudText></MudItem>
                <MudItem Style="width: 84%;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                        @foreach (var item in Doctor.OrderBy(x => x))
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>

        </MudPaper>

    </MudItem>

</MudGrid>






@code {
    string[] Сonditions = new string[]
       {
       "удовлетворительное.",
       "средней тяжести.",
       "тяжелое.",
       "крайне тяжелое.",
       "терминальное.",
       "клинической смерти."
       };

    string[] Сomplaints = new string[]
    {
    "Жалоб нет.",
    "Жалобы не предъявляет из - за тяжести состояния.",
    "Не предъявляет жалоб из - за седации.",
    "Жалобы прежние.",
    "Предъявляет жалобы на",
    "Жалобы на боли в области операции."
    };

    string[] Vash = new string[]
    {
    "1 б.",
    "2 б.",
    "3 б.",
    "4 б.",
    "5 б.",
    "6 б.",
    "7 б.",
    "8 б.",
    "9 б.",
    "10 б."
    };

    string[] Conscience = new string[]
    {
    "ясное.",
    "оглушение.",
    "глубокое оглушение.",
    "сопор.",
    "кома I.",
    "кома II.",
    "кома III.",
    "медикаментозная седация."
    };

    string[] Rass = new string[]
    {
    "- 5 баллов по шкале RASS.",
    "- 4 балла по шкале RASS.",
    "- 3 балла по шкале RASS.",
    "- 2 балла по шкале RASS.",
    "- 1 балл по шкале RASS.",
    "0 баллов по шкале RASS.",
    "+ 1 балл по шкале RASS.",
    "+ 2 балла по шкале RASS.",
    "+ 3 балла по шкале RASS.",
    "+ 4 балла по шкале RASS."
    };

    string RassThis = "С целью потенцирования эффекта анальгетической терапии вводится в/в микроструйно Дексмедетомидин в дозировке 0.7 мкг/кг/час.";

    List<string[]> Skin = new List<string[]>()
    {
        new string[] {"теплые,", "холодные,"},
        new string[] {"сухие,", "влажные,", "естественной влажности,"},
        new string[] {"естественной окраски.", "бледные.", "бледно-розовые."}
    };

    string[] Breathing = new string[]
    {
    "естественные дыхательные пути.",
    "эндотрахеальную трубку.",
    "ларингеальную маску.",
    "трахеостомическую канюлю.",
    "воздуховод."
    };

    string[] Extubation = new string[]
    {
    ",",
    "а,"
    };

    string[] InhalationO2 = new string[]
    {
    "носовые канюли.",
    "HFOT аппаратом. Airvo 2",
    "лицевую маску.",
    "CPAP - клапан.",
    "'искусственнный нос'"
    };

    string[] Auscultatory = new string[]
    {
    "дыхание жесткое.",
    "дыхание везикулярное.",
    "дыхание пуэрильное."
    };

    List<string[]> ShortnessOfBreath = new List<string[]>()
    {
        new string[] {"есть,", "нет."},
        new string[] {"с двух сторон.", "справа.", "слева"}
    };

    List<string[]> Wheezes = new List<string[]>()
    {
        new string[] {"есть,", "нет."},
        new string[] {"с двух сторон.", "справа.", "слева"},
        new string[] { "нет.", "сухие", "влажные", "крепитирующие", "проводные"}
    };

    string[] RespiratorySupport = new string[]
    {
    "не проводится.",
    "начата",
    "продолжена"
    };

    List<string[]> RespiratorySupportMachine = new List<string[]>()
        {
        new string[] {"NPB 740,", "NPB 760,","NPB 840,", "Servo-S,", "PO-6,","мешком AMBU"},
        new string[] {"SPONT:", "CPAP:","VCV:", "PCV:","SIMV-VC:","SIMV-PC:", "BiLevel:","A/C:","ASV:"},
        };
    List<string[]> InotropicSupportOne = new List<string[]>()
    {
        new string[] {"адреналин - ", "норадреналин - ","добутамин - ", "дофамин - ", "мезатон - "},
        new string[] {"мкг/кг/мин", "мг/мин","мл/час", "кап/мин"},
    };

    List<string[]> InotropicSupportTwo = new List<string[]>()
    {
        new string[] {"адреналин - ", "норадреналин - ","добутамин - ", "дофамин - ", "мезатон - "},
        new string[] {"мкг/кг/мин", "мг/мин","мл/час", "кап/мин"},
    };
    string[] Hemodynamics = new string[]
       {
        "устойчивая.",
        "неустойчивая."
       };

    string[] Stomach = new string[]
    {
        "мягкий.",
        "напряженный."
    };
    string[] Pain = new string[]
    {
        "есть,",
        "нет."
    };
    List<string[]> AbdominalBloating = new List<string[]>()
    {
        new string[] {" ", "не"},
        new string[] {"резко.", "умеренно.","незначительно."}
    };
    string[] Peristalsis = new string[]
       {
        "активная.",
        "усилена.",
        "ослаблена.",
        "единичная.",
        "не выслушивается."
       };
    List<string[]> Tongue = new List<string[]>()
    {
        new string[] {"влажный,", "сухой,"},
        new string[] {"чистый.", "обложен налетом."},
    };
    string[] Urine = new string[]
       {
        "светлая.",
        "темная.",
        "мутная.",
        "с примесью крови."
       };
    List<string[]> Drainage = new List<string[]>()
    {
        new string[] {"плевральный", "брюшная полость", "груша", "вакуум", "нефростом", "пиелостома", "холецистостома", "колостома", "энтеростома", "зонд назогастральный", "зонд назоинтестинальный"},
        new string[] {"с двух сторон", "справа", "слева", "спрва снизу", "слева сверху", "слева снизу", "по центру"},
        new string[] {"следы", "серозного отделяемого", "серозно-геморрагического отделяемого", "сукровичного отделяемого", "геморрагического отделяемого", "гнойного отделяемого", "желчного отделяемого","кишечного отделяемого"}
    };
    string[] Doctor = new string[]
    {
"Розенгард С.А.",
"Глущенко В.А.",
"Алиева  А.Э.",
"Борзых И.С.",
"Веденин Я.О.",
"Горохов Л.В.",
"Груздов М.С."
    };

    StandartDiary standart = new();

    DateTime? date; //дата
    TimeSpan? time; //время
    public bool vash { get; set; }
    string Hemodynamic = default!;
    bool isWatered;
    string water = "cm H₂O";
    string noWater = "mm Hg";

    protected override void OnInitialized()
    {

        date = DateTime.Now; //Дата
        time = DateTime.Now.TimeOfDay; //Время
        vash = false;
        standart.Picco = new();
        standart.Picco2 = new();
        standart.FioTrac = new();
        standart.EsCCO = new();
        standart.VoLEF = new();
#pragma warning disable BL0005
    }

    bool SwitchChecked, SwitchChecked2, SwitchChecked3, SwitchChecked4,
    SwitchChecked5, SwitchChecked6, SwitchChecked7, SwitchChecked8,
    SwitchChecked9, SwitchChecked10, SwitchChecked11;

    private int Num1;
    private int Num2;
    private string Result = default!;

    private void CalculateProduct()
    {
        int Product = Num1 * Num2;
        Result = Product.ToString();
    }
    Dictionary<string, string> selectValues = new Dictionary<string, string>()
    {
        {"pH –", " ; "},
        {"Glu –", "ммоль/л"},
        {"pCO₂ – ", "мм.рт.ст."},
        {"pO₂ –", "мм.рт.ст."},
        {"ABE –", "ммоль/л"},
        {"SBE –", "ммоль/л"},
        {"HCO₃̄ – ", "ммоль/л"},
        {"K⁺ –", "ммоль/л"},
        {"Na⁺–", "ммоль/л"},
        {"Ca²⁺ –", "ммоль/л"},
        {"Cl⁻–", "ммоль/л"},
        {"Mg²⁺ –", "ммоль/л"},
        {"mOsm –", "ммоль/кг"},
        {"МНО –", ";"},
        {"ПТИ –", ";"},
        {"АЧТВ –", "сек.;"},
        {"иАЧТВ –", ";"},
        {"ПТ –", "%;"},
        {"ТВ -", "сек.;"},
        {"Д-димер –", "нг/мл;"},
        {"п/я -", "%;"},
        {"с/я -", "%;"},
        {"PCT –", "нг/мл"},
        {"СРБ -", "мг/л"},
        {"Lac -", "ммоль/л."},
        {"ЛДГ -", "Ед/л;"},
        {"Troponin-T –", "нг/мл;"},
        {"Troponin-I –", "нг/мл;"},
        {"КФК-МB –", "нг/мл;"}
    };
    bool isDisabled = false;
    MudSelect<string> select1 = new();
    MudSelect<string> select2 = new();
    MudSelect<string> select3 = new();
    MudSelect<string> select4 = new();
    MudSelect<string> select5 = new();
    MudSelect<string> select6 = new();

    void Khs() //КЩС
    {
        string key1 = selectValues.FirstOrDefault(x => x.Key == "pO₂ –").Key;
        select1.SelectedValues = new List<string>() { key1 };
        string key2 = selectValues.FirstOrDefault(x => x.Key == "ABE –").Key;
        select2.SelectedValues = new List<string>() { key2 };
        string key3 = selectValues.FirstOrDefault(x => x.Key == "pO₂ –").Key;
        select3.SelectedValues = new List<string>() { key3 };
        string key4 = selectValues.FirstOrDefault(x => x.Key == "HCO₃̄ – ").Key;
        select4.SelectedValues = new List<string>() { key4 };
        string key5 = selectValues.FirstOrDefault(x => x.Key == "pH –").Key;
        select5.SelectedValues = new List<string>() { key5 };
        var key6 = selectValues.FirstOrDefault(x => x.Key == "Lac -").Key;
        select6.SelectedValues = new List<string>() { key6 };
        isDisabled = false;
    }
    void Electrolytes() //Электролиты
    {
        string key1 = selectValues.FirstOrDefault(x => x.Key == "K⁺ –").Key;
        select1.SelectedValues = new List<string>() { key1 };
        string key2 = selectValues.FirstOrDefault(x => x.Key == "Cl⁻–").Key;
        select2.SelectedValues = new List<string>() { key2 };
        string key3 = selectValues.FirstOrDefault(x => x.Key == "Na⁺–").Key;
        select3.SelectedValues = new List<string>() { key3 };
        string key4 = selectValues.FirstOrDefault(x => x.Key == "Lac -").Key;
        select4.SelectedValues = new List<string>() { key4 };
        string key5 = selectValues.FirstOrDefault(x => x.Key == "Ca²⁺ –").Key;
        select5.SelectedValues = new List<string>() { key5 };
        select6.SelectedValues = Enumerable.Empty<string>();
        isDisabled = true;
    }
    void Delete() //Очищение
    {
        select1.SelectedValues = Enumerable.Empty<string>();
        select2.SelectedValues = Enumerable.Empty<string>();
        select3.SelectedValues = Enumerable.Empty<string>();
        select4.SelectedValues = Enumerable.Empty<string>();
        select5.SelectedValues = Enumerable.Empty<string>();
        select6.SelectedValues = Enumerable.Empty<string>();
    }

    void HandleChange(string changedSelect, MudSelect<string> select)
    {
        var change = selectValues.FirstOrDefault(x => x.Key == changedSelect).Key;
        select.SelectedValues = new List<string>() { change };
    }
}