@using Re.Core.Models.Hemo;
@using Re.Core.Models
@using Re.UI.Data

<MudGrid>
    <MudItem xs="8">
        <MudGrid Style="margin-left:180px;" Spacing="10" Justify="Justify.Center">
            <MudItem><MudDatePicker Style="width:150px;" Label="Дата" @bind-Date="date" /></MudItem>
            <MudItem> <MudTimePicker Style="width:150px;" Label="Время" @bind-Time="time" /></MudItem>
        </MudGrid>
    </MudItem>
    <MudDivider Style="margin:35px 0;"></MudDivider>
    <MudPaper Style="margin: 15px 0;" Height="775px">
        <MudText Style="margin-top:10px" Align="Align.Center" Typo="Typo.h6">@Name</MudText>
        <MudGrid Style="margin-top:10px; margin-left:150px;">
            <MudGrid>
                <MudItem Style="margin-top:5px;"><MudText>Больной(-ая)</MudText></MudItem>
                <MudItem><MudInput T="string" Variant="Variant.Text" Text="@ep.FIO" Style="width:750px;"></MudInput></MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="margin-top:5px;"><MudText>Возраст</MudText></MudItem>
                <MudItem><MudInput T="string" Variant="Variant.Text" Text="@ep.Age" Style="width:100px;"></MudInput></MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="margin-top:5px;"><MudText>История болезни №</MudText></MudItem>
                <MudItem><MudInput T="string" Variant="Variant.Text" Text="@ep.Number" Style="width:100px;"></MudInput></MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="margin-top:5px;"><MudText>Группа крови и Rh-принадлежность:</MudText></MudItem>
                <MudItem Style="margin-top:-20px;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Style="width:573px;">
                        @foreach (var item in GroupRh)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="margin-top:5px;"><MudText>Диагноз:</MudText></MudItem>
                <MudItem><MudInput T="string" Variant="Variant.Text" Text="@ep.Diagnosis" Style="width:783px;" Lines="3"></MudInput></MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="margin-top:5px;"><MudText>Показания к переливанию компонентов крови:</MudText></MudItem>
                <MudItem Style="margin-top:-20px;">
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Style="width:485px;">
                        @foreach (var item in Indications)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid>
                <MudItem Style="margin-top:5px;"><MudText>Ранее гемотрансфузии:</MudText></MudItem>
                <MudItem><MudInput T="string" Variant="Variant.Text" Text="@ep.Hemotransfusion" Style="width:670px" Lines="3"></MudInput></MudItem>
            </MudGrid>
            <MudGrid Style="margin-top:0px">
                <MudItem><MudText>Заявка на</MudText></MudItem>
                <MudItem><MudInput T="string" Style="margin-top:-10px; width:80px;" /></MudItem>
                <MudItem><MudText>эритроцитарной взвеси</MudText></MudItem>
                <MudItem>
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Style="margin-top:-21px; width:460px;">
                        @foreach (var item in GroupRh)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid Style="margin-top:1px;">
                <MudItem>
                    <MudSwitch @bind-Checked="SwitchChecked" />
                </MudItem>
                <MudItem Style="margin-top:10px; margin-left:-20px;"><MudText>и</MudText></MudItem>
                <MudItem><MudInput T="string" Style="margin-top:-10px; width:80px;" Disabled="@SwitchChecked" /></MudItem>
                <MudItem><MudText>свежезамороженной плазмы</MudText></MudItem>
                <MudItem>
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Style="margin-top:-21px; width:418px;" Disabled="@SwitchChecked">
                        @foreach (var item in GroupRh)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid Style="margin-left:90px;">
                <MudItem><MudInput T="string" Style="margin-top:-10px; width:80px;" Disabled="@(!SwitchChecked)" /></MudItem>
                <MudItem><MudText>тромбоцитарного концентрата</MudText></MudItem>
                <MudItem>
                    <MudSelect T="string" AnchorOrigin="Origin.BottomCenter" Style="margin-top:-21px; width:405px;" Disabled="@(!SwitchChecked)">
                        @foreach (var item in GroupRh)
                        {
                            <MudSelectItem Value="@item" />
                        }
                    </MudSelect>
                </MudItem>
            </MudGrid>
            <MudGrid Style="margin-top:15px;">
                <MudText>Согласие больного(ой) на гемотрансфузию получено.</MudText>
            </MudGrid>
            <MudGrid Style="margin-top:15px;">
                <MudText>Противопоказаний к переливанию компонентов крови нет.</MudText>
            </MudGrid>
            <MudGrid>
                <MudItem><MudDatePicker Style="margin-top:50px; margin-left:-25px; width: 150px;" @bind-Date="date" /></MudItem>
            </MudGrid>
        </MudGrid>
        <MudGrid Style="margin-left:660px;">
            <MudItem Class="d-flex flex-column justify-end"><MudText>Лечащий врач</MudText></MudItem>
            <MudItem>
                <MudSelect T="string" AnchorOrigin="Origin.BottomCenter">
                    @foreach (var item in Doctor.OrderBy(x => x))
                    {
                        <MudSelectItem Value="@item" />
                    }
                </MudSelect>
            </MudItem>
        </MudGrid>
        <MudText Style="margin-left:670px;">
            Глав. отделением <span style="text-decoration: underline;">Розенгард С.А.</span>,
        </MudText>
        <MudItem>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Submit" Style="width:650px; margin-left:280px; margin-top:20px;">
                Отправить
            </MudButton>
        </MudItem>
    </MudPaper>
    <MudGrid Style="width:925px; height:90px; background: #ffff99; display: flex; align-items: center; padding:0 20px; margin-top:50px; margin-left:145px; border:1px solid #c00000;">
        <MudImage Width="50" Src="../img/links.jpg" Style="margin-right:50px; margin-left:20px; border:1px solid #c00000;" />
        <MudLink Href="https://donor38.ru/wp-content/uploads/2020/07/prikaz-minzdrava-rf-ot-25-noyabrya-2002-g-n-363-ob-utverzhdenii-instrukczii-po-prime.pdf" Target="_blank">
            <div>Приказ Минздрава РФ от 25 ноября 2002 г. N 363</div>
            <div>Об утверждении Инструкции по применению компонентов крови</div>
        </MudLink>
    </MudGrid>
    <MudGrid Style="width:925px; height:90px; background: #ffff99; display: flex; align-items: center; padding:0 20px; margin-top:30px; margin-left:145px; border:1px solid #c00000;">
        <MudImage Width="50" Src="../img/links.jpg" Style="margin-right:50px; margin-left:20px; border:1px solid #c00000;" />
        <MudLink Href="https://www.rg.ru/documents/2013/08/28/donory-dok.html" Target="_blank">
            <div>Приказ Министерства здравоохранения Российской Федерации (Минздрава России) от 2 апреля</div>
            <div>2013 г. N 183н г.Москва "Об утверждении правил клинического использования донорской крови и</div>
            <div>(или) ее компонентов"</div>
        </MudLink>
    </MudGrid>
    <MudGrid Style="width:925px; height:90px; background: #ffff99; display: flex; align-items: center; padding:0 20px; margin-top:30px; margin-left:145px; border:1px solid #c00000;">
        <MudImage Width="50" Src="../img/links.jpg" Style="margin-right:50px; margin-left:20px; border:1px solid #c00000;" />
        <MudLink Href="https://www.rg.ru/documents/2012/07/23/donorstvo-dok.html" Target="_blank">
            <div>Федеральный закон Российской Федерации от 20 июля 2012 г. N 125-ФЗ</div>
            <div>"О донорстве крови и ее компонентов"</div>
        </MudLink>
    </MudGrid>
    <MudGrid Style="width:925px; height:90px; background: #ffff99; display: flex; align-items: center; padding:0 20px; margin-top:30px; margin-left:145px; border:1px solid #c00000;">
        <MudImage Width="50" Src="../img/links.jpg" Style="margin-right:50px; margin-left:20px; border:1px solid #c00000;" />
        <MudLink Href="http://vsegost.com/Catalog/49/49916.shtml" Target="_blank">
            <div>ГОСТ Р 53470-2009</div>
            <div>Кровь донорская и ее компоенты. Руководство по применению компонентов донорской крови</div>
        </MudLink>
    </MudGrid>
</MudGrid>

@code {
    string Name = "ЭПИКРИЗ НА ПЕРЕЛИВАНИЕ КОМПОНЕНТОВ КРОВИ";
    string[] GroupRh = new string[]
    {
        "0(I) Rh- (отрицательный)",
        "A(II) Rh- (отрицательный)",
        "A₂(II) Rh- (отрицательный)",
        "B(III) Rh- (отрицательный)",
        "AB(IV) Rh- (отрицательный)",
        "0(I) Rh+ (положительный)",
        "A(II) Rh+ (положительный)",
        "A₂(II) Rh+ (положительный)",
        "B(III) Rh+ (положительный)",
        "AB(IV) Rh+ (положительный)"
    };
    string[] Indications = new string[]
    {
         "анемия тяжелой степени",
        "дефицит факторов свертывания",
        "анемия тяжелой степени и деф. факторов свертывания",
        "тромбоцитопения"
    };
    string[] Doctor = new string[]
    {
        "Розенгард С.А.",
        "Глущенко В.А.",
        "Алиева А.Э.",
        "Борзых И.С.",
        "Веденин Я.О.",
        "Горохов Л.В.",
        "Груздов М.С.",
        "Гурин М.Н.",
        "Зубайдов М.М.",
        "Ишкараев В.Э.",
        "Караваев А.В.",
        "Кононец Ф.А.",
        "Кремзель Е.Г,",
        "Митрохина М.В.",
        "Нюхлов Е.С.",
        "Пазюк К.И.",
        "Пастухова А.А.",
        "Попель И.В.",
        "Раевская О.А.",
        "Сапронова Т.Н.",
        "Семенов А.Н.",
        "Склярова В.О.",
        "Хестанова Н.З.",
        "Шабут А.М."
    };
    HemoEpicrisis? ep = new();
    DateTime? date; //дата
    TimeSpan? time; //время
    private bool SwitchChecked = false;
    protected override void OnInitialized()
    {
        date = DateTime.Now; //Дата
        time = DateTime.Now.TimeOfDay; //Время
    }
    void Submit()
    {
        var temp = ep;
    }
}